nav Logo
.lang-select
	select#lng(onChange='window.location.href=this.value')
		option(value='' style='display:none')
		//-option(value='/?lng=cn') CN
		option(value='/?lng=en') EN
		option(value='/?lng=fr') FR
		option(value='/?lng=jp') JP
		option(value='/?lng=kr') KR