extends ../layout

block title
	title d-name TApp

block content
	img(src='https://groups.oist.jp/sites/default/files/imce/u1419/remotecontrol_b.png')
	
	include _vocabulary

block js
	script( src='/ctrls/device/device.controller.js', rel='text/javascript', )