//-include index.html

extends ../layout

block title
	title TApp

block content
	.marquee
		ul#bg-text

	.main-content.primary
		h1 TApp

block js
	script( src="//cdn.jsdelivr.net/jquery.marquee/1.4.0/jquery.marquee.min.js" type="text/javascript" )
	script( src='/ctrls/core/home.controller.js', rel='text/javascript' )
