<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>TApp</title>
	<style type="text/css">
	#container {
	   position: relative;
	}

	#background {
	   position: absolute;
	   top: 0;
	   left: 0;
	   bottom: 0;
	   right: 0;
	   z-index: -1;
	   overflow: hidden;
	}
	</style>
</head>
<body>
	<div id="container">
	    <div id="background">
	    	Text to have as background
	    </div>
	    <h1>TApp</h1>
	</div>
	
	<script type="text/javascript">
		var greetings = ['你好', 'Hola', 'Hi', 'مرحبا', 'नमस्ते', 'Oi', 'Olá', 'হ্যালো', 'Привет', '今日は', 'ਸਤਿ ਸ੍ਰੀ ਅਕਾਲ', 'Halo', '안녕하세요', '侬好', 'Hallo', 'Guten Tag', 'grüß Gott', 'Grüezi', 'Bonjour', 'నమస్కారం', 'नमस्कार', 'Merhaba', 'سلام', 'chào bạn', 'வணக்கம்', 'Ciao', 'درود', 'Selamat pagi', 'สวัสดี', '食飽未', 'Cześć', 'નમસ્તે', 'Агов', 'നമസ്തെ', 'akkam', 'ታዲያስ።', 'Salut', 'प्रणाम', 'Musta', 'Pranam', 'Ẹ n lẹ', 'Здраво'];
	</script>
</body>
</html>